*{
  padding: 0;
  margin: 0;
  font-family: 'Frank Ruhl Libre', serif;
}
.main-content{
  width: 100%;
  height: 100vh;
  background-color: #a9a9a947;
}
/* navbar */
#navbar-color{
  background-color: white;
  box-shadow: 0px -11px 4px 10px black;
}
#logo{
  font-size:  25px;
  color: black;
  text-decoration: 1px 1px 1px black;
}
#logo img{
  margin-bottom: 10px;
}
#logo span{
  color: #0ea10e;
}
.navbar-toggler-icon{
color: black;
}
.navbar-nav{
  margin-left: 100px;
}
.nav-link{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  transition: 0.6s ease;
}
.nav-link:hover{
  background-color: #0ea10e;
  color: white;
  border-radius: 5px;
}
#btn a{
  text-decoration: none;
}
#btn button{
  width: 120px;
  height: 30px;
  font-size: 16px;
  color: #0ea10e;
  border: 2px solid;
  background: transparent;
  border-radius: 5px;
  transition: 0.5 ease;
  cursor: pointer;
}
#btn button:hover{
  background-color: #0ea10e;
  color: white;
}
#btn button:hover{
  background-color: #0ea10e;
  color: white;
}
@media screen and  (max-width: 1000px)
  
{
  .navbar-nav
  {
    margin-left: 10px;
  }
}
@media screen and  (max-width: 1338px)
  
{
  #btn {
    margin: right 50px;
  }
  #btn button{
width: 90px;
height: 25px;
font-size: 15px;
  }
  .nav-link{
    font-size: 15px;
  }
}
/* navbar */

/* Home */
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.home{
  flex: 1 1 400px;
}
.home .img img{
  width:90%;
}
.home .content{
  flex:1 1 400px;

}
.content h3{
  margin-left: 130px;
  font-size: 60px;
  text-shadow:1px 1px 1px black ;
}
.content p{
  margin-left: 130px;
}
.content .btn{
  margin-left: 130px;
  width: 100px;
  height: 35px;
  background-color: #0ea10e;
  color: white;
}
@media screen and (max-width:800px) {
  .content h3{
    margin-left: 50px;
  }
  .content p{
    margin-left: 50px;
  }
  .content .btn{
    margin-left: 50px;
  }
  
}

@media screen and (max-width:570px) {
  .content h3{
    margin-left: 50px;
    font-size: 20px;
  }
  .content p{
    margin-left: 20px;
  }
  .content .btn{
    margin-left: 20px;
  }
  
}



/* Home */

/* Dishe */
#dishe h1{
  margin-top: 50px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #0ea10e;
}
#dishe .card{
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.checked{
   color: rgba(255, 230, 0);
   font-size: 15px;
}
#dishe h6{
  margin-top: 20px;
}
#dishe h6 span{
  float: right;
  cursor: pointer;
}

/* Dishe */

/*Mission*/

#chefs h1{
  margin-top: 100px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #0ea10e;
}
#chefs h2{
  color: #0ea10e;
  text-shadow: 1px 1px 1px black;


}
.card img{
align-items: center;
}


/*Mission*/

/*Events*/
#gallary h1{
  margin-top: 100px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #0ea10e;
}

#gallary .card img{
  transition: 0.5s ease;
  cursor: pointer;
}
#gallary .card img:hover{
  transform: translateY(-10px);
}

/*Events*/

/* Contact Us*/
#book-table h1{
  margin-top: 100px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #0ea10e;
}
#btntable button{
  width: 200px;
  height: 38px;
  background-color: #0ea10e;
  letter-spacing: 3px;
  border: 2px;
  font-size: 24px;
}
#btntable button:hover{
  background-color: #0ea10e;
  color: white;
}
@media screen and (max-width:260px) {
  #btntable button{
    width: 120px;
    height: 30px;
    font-size: 15px;
    letter-spacing: 0;
  }
  
}
@media screen and (max-width:260px) {
  #about{
    width: 120px;
    height: 30px;
    font-size: 15px;
    letter-spacing: 0;
  }
  
}
@media screen and (max-width:320px) {
  #about{
    width: 120px;
    height: 30px;
    font-size: 15px;
    letter-spacing: 0;
  }
  
}


/* Contact Us*/

/* About Us */
#about h1{
  margin-top: 100px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #0ea10e;
}
.btnrd {
  margin-top: 20px;
}
.btnrd button{
  width: 150px;
  height: 33px;
  background-color: #0ea10e;
  color: white;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}




/* About Us */
/* Footer*/
.footer{
  padding: 0 0 30px 0;
  color: #d0d0d0;
  font-size: 14px;
  background: #111111;

}
#footer .footer-top{
  padding: 60px 0 30px;
  background:#111111;
  color: white;
}
footer .footer-top .footer-contact h3{
color: #0ea10e;
text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-contact h4{
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p{
  font-size: 14px;
  margin:0;
  padding: 2px 0 2px 0;
  line-height: 24px;
  font-weight: 700;
  color: white;
}
#footer .footer-top h4{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px ;
}
#footer .footer-top .footer-links{
  margin-bottom: 30px;
}
#footer .footer-top .footer-links{
  margin-bottom: 30px;
}
footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-top .footer-links ul li{
padding-right: 2px;
 color: #0ea10e;
 font-size: 18px;
 line-height: 1;
}
footer .footer-top .footer-links ul li{
  padding-right: 10px 0;
   display: flex;
   align-items: center;
  }
  footer .footer-top .footer-links ul li:first-child{
   padding-top: 0;
    }
    footer .footer-top .footer-links ul li a{
     color: white;
     transition: 0.3s ease;
     display: inline-block;
     line-height: 1;
      }
/* Footer*/
